@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @layer base {
    :root {
      --background: #eae7db;
      --foreground: #1d1b1b;

      --card: #ffffff;
      --card-foreground: #000000;

      --popover: #ffffff;
      --popover-foreground: #000000;

      --primary: #fbff2c;
      --primary-foreground: #000000;

      --secondary: #f5f5f4;
      --secondary-foreground: #1c1917;

      --muted: #d3cdb4;
      --muted-foreground: #78716c;

      --accent: #f5f5f4;
      --accent-foreground: #1c1917;

      --destructive: #ef4444;
      --destructive-foreground: #fafaf9;

      --dialog: #ffffff;
      --dialog-foreground: #000000;

      --border: #bcb18d;
      --input: #494343;
      --ring: #fbff2c;

      --radius: 1rem;
    }

    .dark {
      --background: #1d1b1b;
      --foreground: #eae7db;

      --card: #262626;
      --card-foreground: #ffffff;

      --popover: #171717;
      --popover-foreground: #ffffff;

      --primary: #fbff2c;
      --primary-foreground: #000000;

      --secondary: #1d1b1b;
      --secondary-foreground: #fafaf9;

      --muted: #494343;
      --muted-foreground: #bfbabb;

      --accent: #292524;
      --accent-foreground: #fafaf9;

      --destructive: #7f1d1d;
      --destructive-foreground: #fafaf9;

      --dialog: #262626;
      --dialog-foreground: #ffffff;

      --border: #3f3b3c;
      --input: #dddada;
      /* --input: #d3d3d3; */
      --ring: #fbff2c;
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    @apply overflow-x-hidden;
  }

  body {
    @apply bg-background text-foreground overflow-x-hidden;
  }

  .tw-transition {
    @apply transition-all duration-200 ease-linear;
  }
}

/* 'satin-linen': {
  '50': '#f8f7f2',
  '100': '#eae7db',
  '200': '#d3cdb4',
  '300': '#bcb18d',
  '400': '#ad9c72',
  '500': '#a08860',
  '600': '#8c7253',
  '700': '#765b47',
  '800': '#624c3e',
  '900': '#524035',
  '950': '#2d211b',
}, */

/* 'woodsmoke': {
  '50': '#f8f7f7',
  '100': '#f0eeee',
  '200': '#dddada',
  '300': '#bfbabb',
  '400': '#9c9495',
  '500': '#807778',
  '600': '#696061',
  '700': '#564e4e',
  '800': '#494343',
  '900': '#3f3b3c',
  '950': '#1d1b1b',
}, */
